html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  color: #fff;
  background-color: #000;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border: 3px solid #000;
  display: inline-block;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
}

.btn-warning {
  background-color: #f33;
}

.btn:hover {
  background-color: #333;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}
